doctype
html
  head
    title my jade template
    link(type="text/css", rel="stylesheet", href="css/style.css")
  body
    h1 Hello Friend!
    div.posts
        h3 Posts
        p.
            Cum sociis natoque penatibus et magnisdfss dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum
        p.
            Cum sociis natoque penatibus et magnisdfss dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum
    ul#sidebar
        h3 Links
        li
            a(href='post1') Post 1
        li
            a(href='post2') Post 2