doctype
html
  head
    title Post 1
    link(type="text/css", rel="stylesheet", href="css/style.css")
  body
    h1 Hello Friend!
    div.posts
        h1 Post 1
        p.
            Cum sociis natoque penatibus et magnisdfss dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum
    ul#sidebar
        h3 Links
        li
        a(href='/') Home
        li
        a(href='post2') Post 2

