extends layout

block content
    .row
        each product, id in products
            .col-xs-6.col-md-3.product-container
                a.title(href="/"+id+".html")
                    img(src=product.img)
                h3
                    a.title(href="/"+id+".html")= product.name 
                ul
                each item in product.text
                    li=item
                a(href="/"+id+".html").btn.btn-primary Детайли
                a(href="/chart.html").btn.btn-primary Купи
