extends layout

block content

  .row
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="/chart.html").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
    .col-xs-3
        .thumbnail
            img(src="")
            .caption
                h3 Label
                p Description
                a(href="/product.html").btn.btn-primary View
                a(href="#").btn.btn-primary Buy now
