html
    include head
    body
        .navbar.navbar-fluid
            .navbar-header
                a.navbar-brand(href="/")
                    | UHU Buhu
        .container-fluid
            .row
                .col-xs-2
                    include nav
                .col-xs-10
                    block content